* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

body, h1 {
    text-align: center;
    margin: 20px;
}

input[type="text"], button {
    padding: 5px 10px;
    margin-bottom: 10px;
    border: none;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

li {
    margin-bottom: 10px;
    list-style: none;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

button.eliminar {
    background-color: #ff0000;
}